

/* 
=====================================
Variables
=====================================
*/
:root {
  --size-lg: 4.8rem;
  --size-md: 2.6rem;
  --size-sm: 2.4rem;
  --primary-color: #ffffff;
  --secondary-color: #04c9a5;
  --body-color: #010d44;
}
/* 
=====================================
Variables
=====================================
*/

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Codec Cold Trial 400";
  font-size: var(--size-md);
  color: var(--primary-color);
  background-color: var(--body-color);
  line-height: 1.5;
  overflow-x: hidden;
}

/* 
==================================
Bacic Setup
==================================
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

::-moz-selection {
  background-color: var(--primary-color);
  color: var(--body-color);
}

::selection {
  background-color: var(--primary-color);
  color: var(--body-color);
}

::-webkit-scrollbar {
  width: 0.7rem;
}

::-webkit-scrollbar-track {
  background-color: var(--primary-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  height: 6rem;
}

a,
span,
label {
  display: inline-block;
}

ul li {
  list-style: none;
}

a,
a:focus {
  text-decoration: none;
}

button:focus,
input:focus,
textarea:focus,
button,
input,
textarea {
  outline: 0;
  border: 0;
}

button,
input,
textarea {
  background-color: transparent;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
hr {
  margin: 0;
  padding: 0;
}

hr {
  opacity: 1;
  background-color: transparent;
}

.transition-linear {
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

a {
  color: var(--primary-color);
}

a,
button,
img,
.transition-ease-in-out {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* 
================================================
================================================
Start Reuseble Components
================================================
*/
section {
  padding: 10rem 0;
}

.title {
  font-family: "Roboto 400";
  font-size: var(--size-lg);
  line-height: 5.6rem;
}

.paragraph {
  font-family: "Codec Cold Trial 400";
  font-size: var(--size-md);
  line-height: 3.8rem;
}

.btn-bg {
  font-family: "Codec Cold Trial 700";
  font-size: var(--size-md);
  text-transform: capitalize;
  min-width: 21rem;
  height: 7.1rem;
  background-color: var(--secondary-color);
  text-align: center;
  line-height: 7.1rem;
  border-radius: 4rem;
}

.btn-bg:hover {
  background-color: var(--primary-color);
  color: var(--body-color);
}

/* 
================================================
End Reuseble Components
================================================
================================================
*/

/* 
=========================================
Start Header Section
=========================================
*/
nav .logo img:first-child {
  margin-left: -11rem;
}

.logo img:last-child {
  margin: 2rem 0 0 -5rem;
}

nav .main-menu ul li:not(:last-child) {
  margin-right: 11.3rem;
}

nav .main-menu ul li a {
  font-family: "Roboto 500";
  font-size: var(--size-sm);
}

nav .main-menu ul li a:hover {
  color: var(--secondary-color);
}

/*
--------------------
Hamburger Menu Btn
--------------------
*/
.menu-toggle-btn {
  position: relative;
  cursor: pointer;
  z-index: 99999;
}

.bar1,
.bar2,
.bar3 {
  width: 3.5rem;
  height: 0.5rem;
  background: var(--primary-color);
  margin: 0.6rem 0;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  -ms-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-10px, -7px);
  -ms-transform: rotate(45deg) translate(-10px, -7px);
  transform: rotate(45deg) translate(-10px, -7px);
}

/* 
=========================================
End Header Section
=========================================
*/

/* 
=========================================
Start Hero Section
=========================================
*/
.hero-text h4 {
  font-family: "Codec Cold Trial 700";
  font-size: var(--size-md);
  line-height: 3rem;
}

.hero-text h1 {
  font-family: "Roboto 700";
  font-size: 5.2rem;
  line-height: 6rem;
}
/* 
=========================================
End Hero Section
=========================================
*/

/* 
=========================================
Start Take Full Section
=========================================
*/
.take-full-content {
  max-width: 146rem;
}
.take-full-content .take-full-title {
  font-family: "Roboto 500";
}

/* 
=========================================
End Take Full Section
=========================================
*/

/* 
=========================================
Start Cryptio Go Section
=========================================
*/
.cryptio-go-text .cryptio-go-title {
  font-family: "Roboto 500";
}
.cryptio-go-text .cryptio-go-small-title {
  font-family: "Codec Cold Trial 700";
}
/* 
=========================================
End Cryptio Go Section
=========================================
*/

/* 
=========================================
Start CryptoCorp Roadmap Section
=========================================
*/
@media (min-width: 992px) {
  .crypto-corp-roadmap img {
    max-width: 100%;
    height: auto;
  }
}
/* 
=========================================
End CryptoCorp Roadmap Section
=========================================
*/

/* 
=========================================
Start Stay Up Section
=========================================
*/
.stay-up-section {
  padding-bottom: 20rem;
}

.stay-up-bg {
  max-width: 137.2rem;
  background: url("../images/stay-up/stay-up.png") no-repeat center / cover;
  border-radius: 3rem;
}

.stay-up-form {
  max-width: 73.2rem;
}

.stay-up-form-title p {
  color: #060c26;
  font-size: 3.4rem;
  line-height: 3.9rem;
}

.stay-up-form-field input,
.stay-up-form-field-box {
  background-color: var(--primary-color);
}
.stay-up-form-field input {
  width: 100%;
  height: 7.2rem;
  padding: 2rem 2rem 2rem 3rem;
}

.stay-up-form-field :is(input, input::-webkit-input-placeholder) {
  font-family: "Roboto 300";
  font-size: var(--size-sm);
  color: #766d6d;
  font-style: italic;
}

.stay-up-form-field :is(input, input::-moz-placeholder) {
  font-family: "Roboto 300";
  font-size: var(--size-sm);
  color: #766d6d;
  font-style: italic;
}

.stay-up-form-field :is(input, input:-ms-input-placeholder) {
  font-family: "Roboto 300";
  font-size: var(--size-sm);
  color: #766d6d;
  font-style: italic;
}

.stay-up-form-field :is(input, input::-ms-input-placeholder) {
  font-family: "Roboto 300";
  font-size: var(--size-sm);
  color: #766d6d;
  font-style: italic;
}

.stay-up-form-field :is(input, input::placeholder) {
  font-family: "Roboto 300";
  font-size: var(--size-sm);
  color: #766d6d;
  font-style: italic;
}

.stay-up-form-field-box {
  padding-right: 6px;
}

.stay-up-form-field-box input {
  max-width: 53rem;
}
.stay-up-form-field-box button {
  min-width: 16.8rem;
  height: 6rem;
  line-height: 6rem;
  text-align: center;
  background-color: #070d29;
  color: var(--primary-color);
  font-size: var(--size-sm);
}

.stay-up-form-field-box button:hover {
  background-color: var(--secondary-color);
}

.stay-up-form-title p,
.stay-up-form-field-box button {
  font-family: "Roboto 400";
}
/* 
=========================================
End Stay Up Section
=========================================
*/

/* 
=========================================
Start Footer Section
=========================================
*/
footer {
  position: relative;
}

footer::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--primary-color);
  position: absolute;
  top: 0;
  left: 0;
}

.copyright-text p {
  font-family: "Roboto 300";
  font-size: var(--size-sm);
  line-height: 2.8rem;
  color: #a8a8a8;
}
/* 
=========================================
End Footer Section
=========================================
*/

/* 
===============================
Back to top Btn
===============================
*/
#scroll-up-btn {
  opacity: 0;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  z-index: 99;
  background: var(--secondary-color);
  width: 4.5rem;
  height: 4.5rem;
  -webkit-animation: myBtn 3.5s infinite linear;
  animation: myBtn 3.5s infinite linear;
}

@-webkit-keyframes myBtn {
  0% {
    right: 3rem;
    bottom: 4rem;
  }

  25% {
    bottom: 2rem;
    right: 3rem;
  }

  50% {
    right: 3rem;
    bottom: 4rem;
  }

  75% {
    bottom: 2rem;
    right: 3rem;
  }

  100% {
    right: 3rem;
    bottom: 4rem;
  }
}

@keyframes myBtn {
  0% {
    right: 3rem;
    bottom: 4rem;
  }

  25% {
    bottom: 2rem;
    right: 3rem;
  }

  50% {
    right: 3rem;
    bottom: 4rem;
  }

  75% {
    bottom: 2rem;
    right: 3rem;
  }

  100% {
    right: 3rem;
    bottom: 4rem;
  }
}